<div class="d-flex flex-row h-100">
  <app-sidenav
    *ngIf="this.roles.hasOwnProperty('plantaojudicial')"
  ></app-sidenav>
  <div id="content" class="w-100">
    <app-header
      *ngIf="this.roles.hasOwnProperty('plantaojudicial')"
    ></app-header>
    <div class="w-100 content-page">
      <div class="py-3">
        <router-outlet></router-outlet>
      </div>
    </div>
    <app-footer
      *ngIf="this.roles.hasOwnProperty('plantaojudicial')"
    ></app-footer>
  </div>
</div>
<div class="sidebar-overlay" (click)="toggleMenu()"></div>
