<div class="container">
  <app-breadcrumb
    [paginaAnterior]="'Plantão Judicial'"
    [paginaAtual]="'Lista de Plantões 2ª Instância'"
    [proximaPagina]="'Cadastrar Plantão 2ª Instância'"
  >
  </app-breadcrumb>
  <div class="d-flex align-items-center justify-content-end m-3">
    <button
      [disabled]="true"
      type="button"
      class="btn btn-primary"
      style="background: var(--bs-primary)"
      label="Show"
    >
      Cadastrar Plantão 2ª Instância
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </div>
  <div class="container">
    <div class="card m-1 shadow">
      <app-botao-voltar-header-card
        [url]="'/home/plantao/lista-plantao-segunda-instancia'"
        [texto]="'Voltar para listagem'"
      ></app-botao-voltar-header-card>
      <div class="card-title p-4 pb-0 pb-3 fw-bold">
        Preencha os campos para realizar o cadastro
      </div>
      <div class="card-body p-4">
        <div class="row">
          <div class="row">
            <div class="col-lg-6 mb-0 mb-3">
              <label>Órgão Julgador*</label>
              <p-dropdown
                [options]="suggestions"
                [(ngModel)]="selectedItemComarca"
                [showClear]="true"
                (onChange)="onItemSelect($event)"
                placeholder="Pesquise e/ou selecione o Órgão Julgador"
                [filter]="true"
                filterBy="nome"
                optionLabel="nome"
              ></p-dropdown>
            </div>
            <div class="col-lg-3 mb-0 mb-3">
              <label>Data Inicial do Plantão*</label>
              <div class="input-group">
                <input
                  [(ngModel)]="plantao2InstanciaModel.dataInicial"
                  [ngClass]="{
                    'is-valid': plantao2InstanciaModel.dataInicial != ''
                  }"
                  type="date"
                  class="form-control"
                  aria-label="Default select example"
                />
              </div>
            </div>
            <div class="col-lg-3 mb-0 mb-3">
              <label>Data Final do Plantão*</label>
              <div class="input-group">
                <input
                  [(ngModel)]="plantao2InstanciaModel.dataFinal"
                  [ngClass]="{
                    'is-valid': plantao2InstanciaModel.dataFinal != ''
                  }"
                  type="date"
                  class="form-control"
                  aria-label="Default select example"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 mb-0 mb-3">
              <label>Telefone do Plantão*</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="(00) 0 0000-0000"
                  [(ngModel)]="plantao2InstanciaModel.telefonePlantao"
                  [mask]="'(00) 0 0000-0000'"
                  [ngClass]="{
                    'is-valid': validadorTelefone(
                      plantao2InstanciaModel.telefonePlantao
                    ),
                    'is-invalid':
                      !validadorTelefone(
                        plantao2InstanciaModel.telefonePlantao
                      ) && plantao2InstanciaModel.telefonePlantao != ''
                  }"
                />
              </div>
            </div>
            <div class="col-lg-9 mb-0 mb-3">
              <label>Endereço*</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Descrição do Endereço"
                  [(ngModel)]="plantao2InstanciaModel.endereco"
                  [ngClass]="{
                    'is-valid': plantao2InstanciaModel.endereco != ''
                  }"
                />
              </div>
            </div>
          </div>
          <div
            class="row"
            *ngFor="let servidor of inputsServidores; let i = index"
          >
            <div class="col-lg-3 mb-0 mb-3">
              <label>{{ i <= 1 ? "Cargo*" : "Cargo" }}</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  [placeholder]="
                    i == 0
                      ? 'Desembargador'
                      : i == 1
                      ? 'Coordernador'
                      : 'Servidor'
                  "
                  [disabled]="i >= 0"
                />
              </div>
            </div>
            <div class="col-lg-9 mb-0 mb-3">
              <label>
                {{
                  i === 0
                    ? "Nome do Desembargador*"
                    : i === 1
                    ? "Nome do Coordenador*"
                    : "Nome"
                }}
              </label>
              <div class="input-group">
                <p-autoComplete
                  [ngClass]="{
                    'p-inputtext-sm col-lg-12': i < 2,
                    'p-inputtext-sm col-lg-11': i >= 2,
                    'ng-dirty ng-invalid': inputsServidores[i].nome == ''
                  }"
                  [placeholder]="
                    i === 0
                      ? 'Nome do Desembargador'
                      : i === 1
                      ? 'Nome do Coordenador'
                      : 'Nome do Servidor'
                  "
                  [(ngModel)]="inputsServidores[i].nome"
                  [suggestions]="
                    i < 1 ? suggestionsMagistrados : suggestionsServidores
                  "
                  (completeMethod)="
                    i < 1 ? searchMagistrados($event) : searchServidores($event)
                  "
                  (onSelect)="
                    i < 1
                      ? addMagistradoAoModel(inputsServidores[i].nome, i)
                      : addServidorAoModel(inputsServidores[i].nome, i)
                  "
                  autocomplete="no-chrome-autocomplete"
                  field="nome"
                ></p-autoComplete>
                <fa-icon
                  (click)="excluirServidor(i)"
                  *ngIf="i > 1"
                  [icon]="faTrashCan"
                  pTooltip="Excluir"
                  class="text-secondary pt-1 ms-4 cursor-pointer"
                ></fa-icon>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
              <button
                (click)="adicionarNovoServidor()"
                pTooltip="Adicionar Novo Servidor"
                type="button"
                class="mt-3 btn btn-success btn-block ms-3"
              >
                Adicionar Servidor <fa-icon [icon]="faPlus"></fa-icon>
              </button>
            </div>
          </div>
        </div>
        <p-confirmPopup>
          <ng-template pTemplate="content" let-message>
            <div
              class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border p-3 mb-3"
            >
              <i [class]="message.icon" class="text-6xl text-primary-500"></i>
              <p>{{ message.message }}</p>
            </div>
          </ng-template>
        </p-confirmPopup>
        <div class="d-flex justify-content-end me-4">
          <div class="border-bottom-0">
            <button
              type="button"
              title="Limpar campos"
              class="mt-3 btn btn-light border btn-block"
              (click)="limparCampos()"
            >
              Limpar Campos
            </button>
            <button
              type="button"
              title="Salvar"
              (click)="confirm($event)"
              [ngClass]="{
                'mt-3 btn btn-success btn-block ms-3': true
              }"
            >
              <span
                [ngClass]="{ 'spinner-grow spinner-grow-sm me-1': loading }"
                role="status"
                aria-hidden="true"
              ></span>
              <span [ngClass]="{ 'visually-hidden': loading }"></span
              >{{ loading ? "Salvando..." : "Salvar" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
