<div class="container">
  <app-breadcrumb
    [paginaAnterior]="'Plantão Judicial'"
    [paginaAtual]="'Lista de Plantões 2ª Instância'"
  ></app-breadcrumb>
  <div
    [appHasPermission]="['PlantaoJudicial-ManterPlantao-2Grau']"
    class="d-flex align-items-center justify-content-end m-3"
  >
    <button
      [appHasPermission]="['PlantaoJudicial-ManterPlantao-2Grau']"
      title="Cadastrar Plantão"
      [routerLink]="'/home/plantao/cadastrar-plantao-segunda-instancia'"
      type="button"
      class="btn btn-primary"
      style="background: var(--bs-primary)"
    >
      Cadastrar Plantão 2ª Instância
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </div>
  <div class="row p-3">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item shadow">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button fw-bold"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Filtro de Plantões 2ª Instância
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <div class="row">
              <div class="col-lg-6 mb-0 mb-3">
                <label>Órgão Colegiado*</label>
                <p-dropdown
                  [options]="suggestionsFiltro"
                  [(ngModel)]="selectedItemFiltro"
                  [showClear]="true"
                  (onChange)="onItemSelectFiltro($event)"
                  placeholder="Pesquise e/ou selecione o Órgão Julgador"
                  [filter]="true"
                  #comarcaInput
                  filterBy="nome"
                  optionLabel="nome"
                ></p-dropdown>
              </div>
              <div class="flex col-lg-3 justify-content-center">
                <label> Data Inicial do Plantão</label>
                <div class="input-group">
                  <input
                    type="date"
                    class="form-control"
                    [(ngModel)]="filtroLista.dataInicial"
                  />
                </div>
              </div>
              <div class="flex col-lg-3 justify-content-center">
                <label> Data Final do Plantão</label>
                <div class="input-group">
                  <input
                    type="date"
                    class="form-control"
                    [(ngModel)]="filtroLista.dataFinal"
                  />
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <div class="border-bottom-0">
                <button
                  type="button"
                  title="Limpar campos"
                  class="mt-3 btn btn-light border btn-block"
                  (click)="limparPesquisaFiltro()"
                >
                  Limpar Pesquisa
                </button>
                <button
                  (click)="filtrar()"
                  [disabled]="!formInvalidFiltro()"
                  type="button"
                  title="Pesquisar"
                  [ngClass]="{
                    'mt-3 btn btn-success btn-block ms-4 ': true
                  }"
                >
                  <span
                    [ngClass]="{
                      'spinner-grow spinner-grow-sm me-1': loadingFiltro
                    }"
                    role="status"
                    aria-hidden="true"
                  ></span>
                  <span [ngClass]="{ 'visually-hidden': loadingFiltro }"></span
                  >{{ loadingFiltro ? "Pesquisando..." : "Pesquisar" }}
                  <fa-icon [icon]="faSearch"></fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card m-3 shadow">
    <app-botao-voltar-header-card
      [texto]="'Lista de Plantões 2ª Instância'"
    ></app-botao-voltar-header-card>
    <div class="card-body show">
      <div class="row">
        <div class="col-md-12">
          <div
            class="table-responsive"
            *ngIf="!loading && listaPlantoes.length > 0"
          >
            <table style="min-width: 800px" class="table table-hover">
              <thead class="bg-light">
                <tr>
                  <th [width]="150" scope="col">Órgão Colegiado</th>
                  <th [width]="150" scope="col">Data Inicial</th>
                  <th [width]="150" scope="col">Data Final</th>
                  <th [width]="200" scope="col">Desembargador</th>

                  <th
                    class="col text-center fixed-right-column"
                    style="width: 150px"
                  ></th>
                </tr>
              </thead>
              <tbody *ngIf="!loading">
                <tr
                  *ngFor="
                    let item of listaPlantoes
                      | paginate
                        : {
                            itemsPerPage: 10,
                            currentPage: page,
                            totalItems: total
                          }
                  "
                >
                  <td style="vertical-align: middle" class="fw-bolder">
                    {{ item.orgaoJulgadorColegiadoNome }}
                  </td>
                  <td style="vertical-align: middle">
                    {{ item.dataInicial | date : "dd/MM/yyyy" }}
                  </td>
                  <td style="vertical-align: middle">
                    {{ item.dataFinal | date : "dd/MM/yyyy" }}
                  </td>
                  <td style="vertical-align: middle">
                    {{ item.desembargador }}
                  </td>

                  <td
                    class="col text-end fixed-right-column"
                    style="width: 150px"
                  >
                    <button
                      *ngIf="item.alteracao == 'SIM'"
                      (click)="dialogAlteracao(item)"
                      type="button"
                      class="btn border-0 bg-transparent text-secondary"
                      pTooltip="Este ítem sofreu alterações após o seu cadastro!"
                    >
                      <fa-icon
                        [icon]="faExclamationTriangle"
                        class="text-warning"
                      ></fa-icon>
                    </button>
                    <button
                      (click)="showDialog(item)"
                      type="button"
                      class="btn border-0 bg-transparent text-secondary"
                      title="Editar Plantão"
                      pTooltip="Editar Plantão"
                      label="Show"
                    >
                      <fa-icon [icon]="faPenToSquare"></fa-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="card flex justify-content-center" *ngIf="visible">
              <p-dialog
                header="Histórico de alterações"
                (onHide)="limparModalAlteracao()"
                [(visible)]="visible"
                [maximizable]="true"
                [style]="{ width: '50vw' }"
                [modal]="true"
              >
                <div class="row">
                  <h5>PLANTÃO FORENSE 2ª INSTÂNCIA</h5>
                </div>
                <span>
                  Plantão:

                  <b>
                    {{ mes }}
                  </b>
                </span>
                <div class="pt-3">
                  <div class="table-responsive">
                    <table class="table w-100">
                      <thead>
                        <tr>
                          <th>Data/Hora</th>
                          <th>Justificativa</th>
                          <th>Usuário responsável</th>
                          <th>Alteração</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of alteracoesRecentes">
                          <td>
                            {{ item.dataAlteracao | date : "dd/MM/yyy HH:mm" }}
                          </td>
                          <td>{{ item.justificativa }}</td>
                          <td>{{ item.responsavel }}</td>
                          <td>
                            {{ item.valorNovo }} <br />
                            <small>
                              <b>Anterior:</b> {{ item.valorAntigo }}</small
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </p-dialog>
            </div>

            <div *ngIf="listaPlantoes.length > 0" class="text-center">
              <pagination-controls
                (pageChange)="carregarPagina((page = $event))"
                previousLabel="Anterior"
                nextLabel="Próximo"
              ></pagination-controls>
            </div>
            <div *ngIf="editando" class="card flex justify-content-center">
              <p-dialog
                label="Show"
                header="Edição de Plantão 2ª Instância"
                (onHide)="atualizarListagem()"
                [modal]="true"
                [(visible)]="loadingModalEdicao"
                [style]="{ width: '60vw', height: '40vw' }"
                [maximizable]="true"
              >
                <div
                  class="content"
                  *ngIf="!loadingVisualizarEdicao; else skeleton"
                >
                  <div class="row">
                    <div class="col-lg-6 mb-0 mb-3">
                      <label>Órgão Colegiado*</label>
                      <p-dropdown
                        [options]="suggestions"
                        [(ngModel)]="selectedItemOrgaoJulgador"
                        [showClear]="true"
                        (onChange)="onItemSelect($event)"
                        placeholder="Pesquise e/ou selecione o Órgão Julgador"
                        [filter]="true"
                        filterBy="nome"
                        optionLabel="nome"
                      ></p-dropdown>
                    </div>
                    <div class="col-lg-3 mb-0 mb-3">
                      <label>Data Inicial do Plantão*</label>
                      <div class="input-group">
                        <input
                          [(ngModel)]="plantao2InstanciaModel.dataInicial"
                          [ngClass]="{
                            'is-valid': plantao2InstanciaModel.dataInicial != ''
                          }"
                          type="date"
                          class="form-control"
                          aria-label="Default select example"
                        />
                      </div>
                    </div>
                    <div class="col-lg-3 mb-0 mb-3">
                      <label>Data Final do Plantão*</label>
                      <div class="input-group">
                        <input
                          [(ngModel)]="plantao2InstanciaModel.dataFinal"
                          [ngClass]="{
                            'is-valid': plantao2InstanciaModel.dataFinal != ''
                          }"
                          type="date"
                          class="form-control"
                          aria-label="Default select example"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 mb-0 mb-3">
                      <label>Telefone do Plantão*</label>
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="(00) 0 0000-0000"
                          [(ngModel)]="plantao2InstanciaModel.telefonePlantao"
                          [mask]="'(00) 0 0000-0000'"
                          [ngClass]="{
                            'is-valid': validadorTelefone(
                              plantao2InstanciaModel.telefonePlantao
                            ),
                            'is-invalid':
                              !validadorTelefone(
                                plantao2InstanciaModel.telefonePlantao
                              ) && plantao2InstanciaModel.telefonePlantao != ''
                          }"
                        />
                      </div>
                    </div>
                    <div class="col-lg-9 mb-0 mb-3">
                      <label>Endereço*</label>
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Descrição do Endereço"
                          [(ngModel)]="plantao2InstanciaModel.endereco"
                          [ngClass]="{
                            'is-valid': plantao2InstanciaModel.endereco != ''
                          }"
                        />
                      </div>
                    </div>
                  </div>
                  <div
                    class="row"
                    *ngFor="let servidor of inputsServidores; let i = index"
                  >
                    <div class="col-lg-3 mb-0 mb-3">
                      <label>{{ i <= 1 ? "Cargo*" : "Cargo" }}</label>
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control"
                          [placeholder]="
                            i == 0
                              ? 'Desembargador'
                              : i == 1
                              ? 'Coordernador'
                              : 'Servidor'
                          "
                          [disabled]="i >= 0"
                        />
                      </div>
                    </div>
                    <div class="col-lg-9 mb-0 mb-3">
                      <label>
                        {{
                          i === 0
                            ? "Nome do Desembargador*"
                            : i === 1
                            ? "Nome do Coordenador*"
                            : "Nome*"
                        }}
                      </label>
                      <div class="input-group">
                        <p-autoComplete
                          [ngClass]="{
                            'p-inputtext-sm col-lg-12': i < 2,
                            'p-inputtext-sm col-lg-11': i >= 2
                          }"
                          [placeholder]="
                            i === 0
                              ? 'Nome do Desembargador'
                              : i === 1
                              ? 'Nome do Coordenador'
                              : 'Nome do Servidor'
                          "
                          [(ngModel)]="inputsServidores[i].nome"
                          [suggestions]="
                            i < 1
                              ? suggestionsMagistrados
                              : suggestionsServidores
                          "
                          (completeMethod)="
                            i < 1
                              ? searchMagistrados($event)
                              : searchServidores($event)
                          "
                          (onSelect)="
                            i < 1
                              ? addMagistradoAoModel(
                                  inputsServidores[i].nome,
                                  i
                                )
                              : addServidorAoModel(inputsServidores[i].nome, i)
                          "
                          autocomplete="no-chrome-autocomplete"
                          #servidorInput
                          field="nome"
                        ></p-autoComplete>
                        <fa-icon
                          (click)="excluirServidor(i)"
                          *ngIf="i > 1"
                          [icon]="faTrashCan"
                          pTooltip="Excluir"
                          class="text-secondary pt-1 ms-4 cursor-pointer"
                        ></fa-icon>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="col d-flex justify-content-center align-items-center"
                    >
                      <button
                        (click)="adicionarNovoServidor()"
                        pTooltip="Adicionar Novo Servidor"
                        type="button"
                        class="mt-3 btn btn-success btn-block ms-3"
                      >
                        Adicionar Servidor <fa-icon [icon]="faPlus"></fa-icon>
                      </button>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label"
                      >Justificativa*</label
                    >
                    <textarea
                      [maxlength]="256"
                      [(ngModel)]="plantao2InstanciaModel.justificativa"
                      class="form-control"
                      id="exampleFormControlTextarea1"
                      rows="3"
                    ></textarea>
                  </div>
                </div>
                <ng-template pTemplate="footer">
                  <div *ngIf="!loadingVisualizarEdicao">
                    <button
                      class="btn btn-danger me-3"
                      (click)="limparCampos()"
                    >
                      Limpar Campos
                    </button>
                    <button
                      class="btn btn-secondary"
                      (click)="salvar()"
                      [disabled]="loading || !formInvalid()"
                    >
                      <span
                        [ngClass]="{
                          'spinner-grow spinner-grow-sm me-1':
                            loadingBotaoSalvar
                        }"
                        role="status"
                        aria-hidden="true"
                      ></span>
                      <span
                        [ngClass]="{ 'visually-hidden': loadingBotaoSalvar }"
                      ></span
                      >{{
                        loadingBotaoSalvar ? "Salvando..." : "Salvar Edição"
                      }}
                    </button>
                  </div>
                </ng-template>
                <ng-template #skeleton>
                  <p-skeleton styleClass="mb-2"></p-skeleton>
                  <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                  <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                  <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
                  <p-skeleton width="10rem" height="4rem"></p-skeleton>
                  <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                  <div class="pt-5">
                    <p-skeleton styleClass="mb-2"></p-skeleton>
                    <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton width="10rem" height="4rem"></p-skeleton>
                  </div>
                </ng-template>
              </p-dialog>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="listaPlantoes.length == 0 && !loading && !filtrado">
        <p>Nenhum Plantão cadastrado!</p>
      </div>
      <div *ngIf="total == 0 && filtrado && !loading">
        <p>Nenhum plantão encontrado com os campos informados!</p>
      </div>
    </div>
  </div>
</div>
